/*
Custom CSS stylesheet for the Indigo Domotics web site.
Author: DaveL17
License: MIT
*/

:root {
    --alert: #FF0000;
    --black: #000000;
    --blue_light: #4F6EFF;
    --border_color: #555555;
    --purple_bright: #4F37FF;
    --table_head: #008800;
    --table_hover: #00FF00;
    --text: #888888;
    --white: #FFFFFF;
}

a {
    color: var(--purple_bright);
}

a:hover {
    color: var(--blue_light);
}

.alert-info {
    background-color: #222222;
    border-color: var(--border_color);
    color: var(--alert);
}

.alert-warning {
    background-color: #222222;
    border-color: var(--border_color);
    color: var(--alert);
}

.background {
    background-color: var(--black);
    background-image: linear-gradient(#111111, #000000);
}

.bg-warning {
    background-color: var(--black);
}

body {
    background-color: var(--black);
    background: var(--black);
    color: var(--text);
}

.btn-group-vertical label.btn.btn-toggle, .btn-group label.btn.btn-toggle {
color: var(--table_head);
border-color: #222222;
background-color: #111111;
}

.btn-group-vertical label.btn.btn-toggle.active, .btn-group label.btn.btn-toggle.active {
color: var(--table_hover);
background-color: #222222;
}

.btn-group-vertical label.btn.btn-toggle:hover, .btn-group label.btn.btn-toggle:hover {
color: var(--table_head);
background-color: #111111;
}

.btn-primary {
    background-image: linear-gradient(var(--purple_bright), var(--purple_bright));
    border-color: var(--border_color);
}

.btn-primary:hover,
.btn-group > .btn.active {
    background-image: linear-gradient(var(--blue_light), var(--blue_light));
    border-color: var(--border_color);
}

.btn-default {
    background-image: linear-gradient(var(--purple_bright), var(--purple_bright));
    border-color: var(--border_color);
}

.btn-default:hover,
.open .dropdown-toggle.btn-default {
    background-image: linear-gradient(var(--blue_light), var(--blue_light));
    border-color: var(--border_color);
}

.btn-small {
    background-image: linear-gradient(var(--purple_bright), var(--purple_bright));
    border-color: var(--border_color);
}

.btn-small:hover,
.open .dropdown-toggle.btn-small {
    background-image: linear-gradient(var(--blue_light), var(--blue_light));
    border-color: var(--border_color);
}

.btn-xsmall {
    background-image: linear-gradient(var(--purple_bright), var(--purple_bright));
    border-color: var(--border_color);
}

.btn-xsmall:hover,
.open .dropdown-toggle.btn-xsmall {
    background-image: linear-gradient(var(--blue_light), var(--blue_light));
    border-color: var(--border_color);
}

#contact-section .panel-heading h3 {
    color: #555555;
}

#contact-section .panel-heading {
    background-image: linear-gradient(#111111, #000000);
}

.date {
    color: var(--text);
}

div#page-body form#postform div.well {
border: 1px solid var(--white);
box-shadow: inset 0 1px 1px #bcb8e0;
background-color: var(--black);
}

div.navbar.navbar-default {
    background-image: linear-gradient(#222222, #111111);
}

div.row.topic-filter {
    background-image: linear-gradient(#111111, #000000);
}

div.box {
    background: #222222;
}

div.box h3 {
    background-image: linear-gradient(#222222, #111111);
}

div.box p {
    background-color: #222222;
}

div.postbody div.poster-info {
    background-color: #333333;
    border-top: 1px solid var(--border_color);
    border-left: 1px solid var(--border_color);
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}

div.topic-nav {
    color: var(--blue_light);
}

.dropdown-header {
    color: var(--white);
}

.dropdown-menu {
    background-color: #111111;
    border-color: var(--border_color);
}

.dropdown-menu .divider {
    background-color: #111111;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a {
    background-color: #111111;
    color: var(--table_head);
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #111111;
    color: var(--table_hover);
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:hover {
    background-color: #111111;
    color: var(--table_hover);
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.featurette-heading {
    color: var(--purple_bright);
    background-image: linear-gradient(#111111, #000000);
}

.form-control {
    background-color: #F0F0F0;
}

.form-group label {
    color: #999999;
}

h1 {
    color: var(--purple_bright);
}

h2 {
    color: var(--purple_bright);
}

h3 {
    color: var(--purple_bright);
}

h4 {
    color: var(--purple_bright);
}

h5 {
    color: var(--purple_bright);
}

h6 {
    color: var(--purple_bright);
}

html {
    background-color: var(--black);
}

input.btn.btn-cancel {
    background-image: linear-gradient(var(--purple_bright), var(--purple_bright));
    border-color: var(--border_color);
}

input.btn.btn-cancel:hover {
    background-image: linear-gradient(var(--blue_light), var(--blue_light));
    border-color: var(--border_color);
}

.navbar-inverse {
    background-image: linear-gradient(#222222, #111111);
    color: var(--table_head)
}

.navbar-inverse .navbar-brand {
    color: var(--table_head);
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: var(--table_hover);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #111111;
    background-image: linear-gradient(#222222, #111111);
    color: var(--table_head);
}

.navbar-inverse .navbar-nav > li > a {
    color: var(--table_head);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: var(--table_hover);
}

p {
    color: var(--text);
}

.panel {
background-color: var(--black);
}

.panel-body {
    background-image: linear-gradient(#222222, #111111);
}

.panel-heading {
    color: var(--table_head);
    background-image: linear-gradient(#111111, #000000);
}

.panel-heading h3 {
    color: var(--text);
    background-image: linear-gradient(#111111, #000000);
    background-color: var(--black);
}

.selected {
    background: var(--table_hover);
}

span.breadcrumb {
    color: var(--blue_light);
}

.table > tbody > tr > td.separator {
    color: var(--black);
}

.table > tbody > tr > td.upgrade {
    background-color: var(--black);
}

.table-bordered thead {
    background-color: var(--black);
    background-image: linear-gradient(#111111, #000000);
    color: #000000;
    border-top: 1px solid var(--border_color) !important;
    border-left: 1px solid var(--border_color);
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}

.table-bordered > tbody > tr > td {
    background-color: var(--black);
}

.table-bordered > thead > tr > th {
    background-image: linear-gradient(#222222, #111111);
    color: var(--table_head);
    border-top: 1px solid var(--border_color) !important;
    border-left: 1px solid var(--border_color);
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}

.table-bordered > tbody.topiclist > tr > td {
    background-color: var(--black);
    border-color: var(--border_color);
}

table thead a {
    color: var(--table_head);
}

table thead a:hover {
    color: var(--table_hover);
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: var(--black);
}

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #151515;
}

.table .xmark {
    color: var(--black);
}

.table td.left-indent {
    color: var(--text);
}

.text-muted {
    color: var(--purple_bright);
}

.text-primary {
    color: var(--text)
}

.text-warning {
    color: #F6F637;
}

#trial-checkbox.checkbox label {
    color: var(--text);
}

.well {
background-color: var(--black);
border: 1px solid var(--white);
}